.videoContainer {
  background: black;
  position: relative;
  margin: 5rem 3rem 3rem;
  padding-bottom: 56.25%;
  height: 90vh;
  padding: 1rem;
  padding-top: 3rem;
}

.videoWatch {
  width: 100%;
  height: 100%;
}
